fastapi==0.115.5
uvicorn[standard]==0.32.1
python-dotenv==1.0.1

chromadb==0.5.23

# Versions compatibles de langchain
langchain==0.3.13
langchain-text-splitters==0.3.3
langchain-community==0.3.13

sentence-transformers==3.3.1
groq==0.13.0
httpx==0.27.2
loguru==0.7.3

# Utiliser une version plus récente de pydantic compatible avec Python 3.11
pydantic==2.10.5

setuptools>=70,<80